.carteRecette {
  padding: 0px;
  margin: 4px;
  width: 12rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 250px;
  border-radius: 10px;
}
.body {
  padding: 0.25rem;
}

.titre {
  font-size: 1.25rem;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.adjusted {
  font-size: 1rem;/* Taille de police réduite */
}

.adjusted2 {
  font-size: 0.75rem;/* Taille de police réduite */
}

.description {
  font-size: 0.9rem;
  color: #666;
  height: 60px; /* Hauteur fixe pour la description */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.image {
  width: 100%;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.boutonEdition {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #d6d1ba;
  color: white;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.boutonLike {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #d6d1ba;
  color: white;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.boutonLike:hover.recetteNonLikee {
  background-color:  #d6d1ba;
  transform: scale(1.3);
}
.boutonLike:hover.recetteLikee {
  transform: scale(1.3);
   background-color: #e26565;
}

.recetteLikee {
  background-color: #e26565;
}

.recetteNonLikee {
  background-color: #d6d1ba;
}

.boutonEdition:hover {
  background-color: #0056b3;
  transform: scale(1.3);
}

.link {
  cursor: pointer;
  height: 100%;
  text-decoration: none;
  color: white;
}
