.ingredient-card {
  /* border: 1px solid #ccc;
    border-radius: 8px; */
  padding: 0px;
  margin: 8px;
  /* max-width: 300px; */
  width: 12rem;
  /* text-align: center; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 100%; /* Assure que la carte prend toute la hauteur disponible */
  flex-direction: column;
  height: 300px; /* Définissez une hauteur fixe pour la carte */
  border-radius: 10px;
}

.ingredient-card__image {
  width: 100%; /* Assure que l'image prend toute la largeur disponible */
  height: 150px; /* Définissez une hauteur fixe pour toutes les images */
  object-fit: cover; /* L'image couvre tout l'espace sans déformation */
  border-radius: 8px 8px 0 0; /* Arrondir les coins supérieurs de l'image */
}

.ingredient-card__title {
  font-size: 1.25rem;
  margin: 12px 0;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: font-size 0.3s ease; /* Ajoute une transition pour un effet fluide */
}

.ingredient-card__title.adjusted {
  font-size: 1rem; /* Taille de police réduite */
}
.ingredient-card__description {
  font-size: 0.9rem;
  color: #666;
  height: 60px; /* Hauteur fixe pour la description */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.ingredient-card__edit-button {
  position: absolute;
  top: 140px;
  right: -10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #d6d1ba;
  color: white;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s ease;
}
.ingredient-card-container {
  position: relative;
  display: inline-block;
}
.ingredient-card__edit-button:hover {
  background-color: #0056b3;
}

.card-link {
  cursor: pointer;
  height: 100%;
  text-decoration: none;
  color: white;
}

.ingredient-card__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}