/* Par défaut : Desktop */
.navbar {
  font-size: 18px;
  background-color: rgb(238, 238, 238);
}

/* Ajustements pour tablettes */
@media (max-width: 768px) {
  .navbar {
    font-size: 16px;
    background-color: rgb(145, 253, 181);
  }
}

/* Ajustements pour mobiles */
@media (max-width: 576px) {
  .navbar {
    font-size: 14px;
    background-color: rgb(255, 223, 152);
  }
}
