/* Styles pour la liste déroulante des résultats de recherche */
.searchResultsDropdown {
    position: absolute;
    top: 100%;
    left:auto !important;
    max-height: 200px; /* Hauteur maximale de la liste déroulante */
    overflow-y: auto; /* Ajoute une barre de défilement si nécessaire */
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: calc(100% - 8px);
  }
  
  /* Styles pour chaque élément de résultat */
  .searchResultsDropdown{
    display: flex;
    align-items: center;
    padding: 5px; /* Réduit la hauteur des lignes */
  }
 
  
  /* Styles pour l'image dans les résultats */
  .searchResultsImage {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  /* Styles pour le texte dans les résultats */
  .searchResultsDropdownRow {
    font-size: 1rem;
    color: #333 !important;
    display: flex !important;
    align-items: center;
  }
  
  .searchResultsDropdown {
    font-size: 0.875rem;
    color: #666;
    margin: 0;
  }